<script type="text/x-handlebars-template" id="template-compose">
    <textarea class="lcb-entry-input" placeholder="Got something to say?" autofocus></textarea>
    <button type="submit" class="btn btn-info lcb-entry-button">Send</button>
</script>
