<script type="text/x-handlebars-template" id="template-files">
    <header class="lcb-room-sidebar-header">
        <h3 class="lcb-room-sidebar-heading">
            <i class="fa fa-file-text"></i> Files
        </h3>
        <button class="btn lcb-room-sidebar-files-add lcb-upload-trigger">
            <i class="fa fa-plus"></i>
        </button>
    </header>
    <ul class="lcb-room-sidebar-list"></ul>
</script>
