<script type="text/x-handlebars-template" id="template-file">
    <i class="fa fa-file lcb-room-sidebar-file-icon"></i>
    <div class="lcb-room-sidebar-file-meta">
        <a class="lcb-room-sidebar-file-name" href="{{url}}" target="_blank">{{name}}</a>
        <span class="lcb-room-sidebar-file-owner">{{owner.displayName}}</span>
        &middot;
        <span class="lcb-room-sidebar-file-size">{{size}}</span>
    </div>
</script>
