<script type="text/x-handlebars-template" id="template-message">
    {{#unless fragment}}
        <img class="lcb-message-avatar lcb-avatar lcb-room-poke" src="https://www.gravatar.com/avatar/{{owner.avatar}}?s=30" />
    {{/unless}}
    <div class="lcb-message-meta">
        {{#unless fragment}}
            <span class="lcb-message-name">
                <span class="lcb-room-poke">
                    <span class="lcb-message-displayname">
                        {{owner.displayName}}
                    </span>
                    <span class="lcb-message-username">
                        @{{owner.username}}
                    </span>
                </span>
            </span>
            <time class="lcb-message-time" title="{{posted}}"></time>
        {{/unless}}
        <div class="lcb-message-text">
            {{#unless paste}}
                {{text}}
            {{else}}
                <pre>{{text}}</pre>
            {{/unless}}
        </div>
    </div>
</script>
