<script type="text/x-handlebars-template" id="template-room-tab">
    <span class="lcb-tab-title">{{name}}</span>
    <span class="lcb-tab-alerts">
        <span class="lcb-tab-alerts-mentions"></span>
        <span class="lcb-tab-alerts-total"></span>
    </span>
    <span class="lcb-tab-close">&times;</span>
</script>
