<script type="text/x-handlebars-template" id="template-tabs">
    <div class="lcb-tabs-group">
        <h3 class="lcb-tabs-group-heading">Rooms</h3>
        <ul class="lcb-tabs-list">
        </ul>
    </div>
</script>
