<script type="text/x-handlebars-template" id="template-users">
    <header class="lcb-room-sidebar-header">
        <h3 class="lcb-room-sidebar-heading">
            <i class="fa fa-users"></i> Who's Here (<span class="lcb-room-sidebar-items-count"></span>)
        </h3>
    </header>
    <ul class="lcb-room-sidebar-list"></ul>
</script>
