<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><% block title %>Let's Chat<% endblock %></title>
        <meta name="description" content="" />
        <link rel="icon" type="image/png" href="./media/favicon.ico" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
        <% block css %><% endblock %>
        <$ 'vendor' | css | safe $>
        <$ 'style' | css | safe $>
    </head>
    <body class="<% block class %><% endblock %>" <% block attributes %><% endblock %>>
        <% block body %><% endblock %>
        <% block templates %><% endblock %>
        <$ 'vendor' | js | safe $>
        <% block js %><% endblock %>
    </body>
</html>
